# Requirements for all
requests==2.31.0
pandas==1.5.2
numpy==1.26.2
matplotlib==3.10.0

# Baseball Scripts
seaborn==0.11.1
pybaseball==2.2.7
Pillow==10.2.0

# Lakers scripts
beautifulsoup4==4.12.2

# Marathon scripts
fitdecode==0.10.0