# Requirements for all
matplotlib==3.5.1
numpy==1.26.2
openpyxl==3.1.3
pandas==1.5.2
requests==2.31.0

# FC Bayern analysis

# Baseball Scripts
Pillow==10.2.0
pybaseball==2.2.7
seaborn==0.11.1

# Lakers scripts
beautifulsoup4==4.12.2

# Marathon scripts
fitdecode==0.10.0